<div class="mypage">
<h2><%= @user.nickname %>さんのマイページ</h2>

<% if @user.avatar.attached? %>
  <%= image_tag rails_blob_path(@user.avatar, only_path: true), alt: "プロフィール画像", class: "profile-image" %>
<% else %>
  <%= image_tag "default-avatar.png", alt: "デフォルト画像", class: "profile-image" %>
<% end %>

<!-- プロフィール編集ボタン -->
<div class="button-container">
<% if current_user == @user %>
  <%= link_to "プロフィールを編集", edit_user_path(@user), class: "btn btn-primary" %>
<% else %>
<!-- ルーム作成リンク -->
  <%= button_to "メッセージを送る", rooms_path(user_id: @user.id), method: :post, class: "mail_btn" %>
<% end %>
</div>
  <% @beats.each do |beat| %>
  <%= render partial: "beats/beat", locals: { beat: beat } %>
  <% end %>

</div>