<!-- app/views/beats/new.html.erb -->
<div class="container">
<h1>新しいビートをアップロード</h1>

<%= form_with model: @beat, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
  <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div>
  <%= f.collection_select(:vibes_id, Vibes.all, :id, :name, {}, {class:"genre-select"}) %>
  </div>

  <div>
    <%= f.label :audio_file, "オーディオファイル(MP3またはWAV)" %><br>
    <%= f.file_field :audio_file %>
    <p>アップロード可能な形式: MP3, WAV</p>
  </div>

  <div>
    <%= f.submit "アップロード" %>
  </div>
<% end %>
</div>